<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jr01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jr02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{179,59}</string>
                <key>textureRect</key>
                <string>{{1,59},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jr03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{179,59}</string>
                <key>textureRect</key>
                <string>{{182,59},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,56}</string>
                <key>spriteSourceSize</key>
                <string>{172,56}</string>
                <key>textureRect</key>
                <string>{{175,1},{172,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{179,59}</string>
                <key>textureRect</key>
                <string>{{1,120},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zb03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{179,59}</string>
                <key>textureRect</key>
                <string>{{182,120},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>bt.png</string>
            <key>size</key>
            <string>{362,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1db0ff4b7ec0ef4107ed86d32bb6f870:20930d6ffb9f1b018146418961699f7b:605830578a766335126e4b3b7993c928$</string>
            <key>textureFileName</key>
            <string>bt.png</string>
        </dict>
    </dict>
</plist>
