<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>创可贴.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>坚果椰子壳.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>大骨棒.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>旧毛巾.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>橡皮泥.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烟头.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牙刷.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>破碗碟.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>纸团.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>纸尿裤.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{811,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>胶带.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{811,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g.png</string>
            <key>size</key>
            <string>{1080,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89b8bff0820c3cc7d1a02ee828ff450:89b0f1ef6fa9285859d597cbe81fe23a:c18c7f2b77ea864d706d70874541cb70$</string>
            <key>textureFileName</key>
            <string>g.png</string>
        </dict>
    </dict>
</plist>
