<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>书本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>刀.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>刀片.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{1,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>易拉罐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>毛绒玩具.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矿泉水瓶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{271,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>碎玻璃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>纸箱.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>螺丝刀.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{541,541},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>衣服.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{811,1},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鞋子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{811,271},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>khs.png</string>
            <key>size</key>
            <string>{1080,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3674a49de171705dddf1dc9f9915c2ba:6fa58d2a63eeeed9c3ea18f56000b5ff:3bc08f1581ba37600dfec95004659a0c$</string>
            <key>textureFileName</key>
            <string>khs.png</string>
        </dict>
    </dict>
</plist>
