<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,324}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{1117,1163},{324,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,324}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{1117,1489},{324,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,324}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{1443,987},{324,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1083,1885},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{76,32}</string>
                <key>textureRect</key>
                <string>{{1647,879},{76,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1753,71},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1753,71},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1647,913},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{1631,361},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{1443,1555},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{1647,793},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,32}</string>
                <key>spriteSourceSize</key>
                <string>{720,32}</string>
                <key>textureRect</key>
                <string>{{1,1923},{720,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,32}</string>
                <key>spriteSourceSize</key>
                <string>{720,32}</string>
                <key>textureRect</key>
                <string>{{1083,1163},{720,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{958,112}</string>
                <key>spriteSourceSize</key>
                <string>{958,112}</string>
                <key>textureRect</key>
                <string>{{1415,1},{958,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,112}</string>
                <key>spriteSourceSize</key>
                <string>{1160,112}</string>
                <key>textureRect</key>
                <string>{{1199,1},{1160,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,100}</string>
                <key>spriteSourceSize</key>
                <string>{1160,100}</string>
                <key>textureRect</key>
                <string>{{1313,1},{1160,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,114}</string>
                <key>spriteSourceSize</key>
                <string>{1160,114}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1160,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1443,1313},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{1537,1555},{66,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,102}</string>
                <key>textureRect</key>
                <string>{{1753,1},{68,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,112}</string>
                <key>spriteSourceSize</key>
                <string>{300,112}</string>
                <key>textureRect</key>
                <string>{{1477,1793},{300,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,116}</string>
                <key>spriteSourceSize</key>
                <string>{344,116}</string>
                <key>textureRect</key>
                <string>{{1529,641},{344,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{358,120}</string>
                <key>spriteSourceSize</key>
                <string>{358,122}</string>
                <key>textureRect</key>
                <string>{{1631,1},{358,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{358,120}</string>
                <key>spriteSourceSize</key>
                <string>{358,122}</string>
                <key>textureRect</key>
                <string>{{1117,1815},{358,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,112}</string>
                <key>spriteSourceSize</key>
                <string>{344,112}</string>
                <key>textureRect</key>
                <string>{{1647,447},{344,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,118}</string>
                <key>spriteSourceSize</key>
                <string>{358,118}</string>
                <key>textureRect</key>
                <string>{{1685,1313},{358,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,118}</string>
                <key>spriteSourceSize</key>
                <string>{358,118}</string>
                <key>textureRect</key>
                <string>{{1443,1673},{358,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{638,100}</string>
                <key>spriteSourceSize</key>
                <string>{640,100}</string>
                <key>textureRect</key>
                <string>{{1529,1},{638,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sc.png</string>
            <key>size</key>
            <string>{1804,1956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9482ed10f4386cb7c66fe644861a811f:36fd3de914fb508728c0b9b9774985c5:cf134e0c770b2ed64703c92062fc8e5b$</string>
            <key>textureFileName</key>
            <string>sc.png</string>
        </dict>
    </dict>
</plist>
