<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>充电电池.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>杀虫剂.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,137},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>油漆桶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{1,273},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>灯泡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>纽扣电池.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{273,1},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>荧光灯.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{137,137},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>蓄电池.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{137,273},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>过期药品.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{273,137},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yd.png</string>
            <key>size</key>
            <string>{408,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c864a3b79914a3322cebca14853a51:6098fccfd8654fc8db478ece944de74d:f7e44d7d106b6e3f2eff160fed648155$</string>
            <key>textureFileName</key>
            <string>yd.png</string>
        </dict>
    </dict>
</plist>
